body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    margin-left: calc(50% - 400px);
    width: 800px;
    margin-top: 50px;
    display: inline-block;
}
.logo {
    width: 100px;
    height: 30px;
    object-fit: contain;
    object-position: left;
    margin-left: 50px;
    display: inline-block;
    float: left;
}
.top-menu {
    float: right;
    font-family: courier;
    display: inline-block;
    line-height: 1em;
    font-size: 16px;
    margin-top: 7px;
    font-weight: bold;
}
.link {
    margin-left: 20px;
    text-decoration: none;
}
.top-menu:first-child {
    margin-left: 0;
}
.link:hover {
    text-decoration: underline;
    color: red;
}
.left-column {
    display: inline-block;
    margin-left: 25px;
    margin-top: 15px;
    width: 320px;
    float: left;
}
.large404{
    font-size: 56px;
    margin-top: 24px;
    margin-bottom: 0;
    font-weight: lighter;
}
.large-txt {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
}
.large-txt::after {
    width: 120px;
    height: 6px;
    content: '';
    display: block;
    margin-top: 15px;
    background-color: #70BBE3;
}
.main-txt {
    font-size: 12px;
}
.button {
    color: #fff;
    padding: 0.6em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #70BBE3;
    display: inline-block;
    text-decoration: none;
    border-radius: 1.1em;
    border: 3px solid #70BBE3;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.33);    
}
.button:hover {
    background-color: rosybrown;
    box-shadow: none;    
}
.button:last-child:hover {
    background-color: rosybrown;
    color: red;
}
.button:last-child {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
.big-cat {
    width: 380px;
    float:right;
    display: inline-block;
    object-fit: contain;
    object-position: center;
}